@model IEnumerable<Cart>

@{
    ViewData["Title"] = "Home Page";
}


<div class="cartPage">
      
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>   
        @foreach (var Cart in Model)
        {
            <tr>
                <td>
                    <div class="cartInfo">
                        <img class="images" src="@Cart.ImageUrl" alt="Image Description"><br/>
                        <div>
                            <label class="title">@Cart.ProductName</label> <br/>
                            <div class="descrip">   
                                <form asp-action="RemoveItem" asp-route-productId="@Cart.ProductId" method="post">
                                    <button type="submit">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <form asp-action="UpdateItem" asp-route-productId="@Cart.ProductId" method="post">
                        <input type="number" name="quantity" value="@Cart.Quantity" min="1"/>
                    </form>
                </td>
                <td>
                    <label>@Cart.Quantity x @Cart.Price kr</label> 
                </td>
            </tr>
            
        // Function for checking if image is a address http, https, ftp or in a local folder 
        <script>
            function CheckImageString(ImageString) {
                const urlPattern = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/i;
                
                if(urlPattern.test(ImageString)){
                    let image = ImageString
                    document.getElementById('@Cart.ProductId').src=image;
                }else{
                    let image = "Images/" + ImageString
                    document.getElementById('@Cart.ProductId').src=image;
                }
            }
            CheckImageString("@Cart.ImageUrl")
        </script>

        }
    </table>
    
    <div class="Total">
        <p>Total Cost: @ViewBag.TotalCost kr</p>
    </div>

</div>